@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Roboto:wght@300&display=swap');

.gameContainer{

    height: 150vh;
    background-color: black;
    
}
.GameText{
    margin-top: -580px;
    margin-left: 60px;
    color: #ffa05f;
    /* width: 550px; */
    position: absolute;
    font-size: 50px;
    font-family: 'Aldrich', sans-seri !important;
}


.gameBtn{
    margin-top: -120px;
    margin-left: 60px;
    color: #fff;
    background-color:#ffa05f ;
    width: 150px;
    position: absolute;
    font-size: 15px;
    /* padding: 10px; */
    font-family: 'Aldrich', sans-seri !important;  
}
.gameBottomText{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.gameBottomText p{
    width: 82%;
    color: #ffa05f;
    font-size: 35px;
    font-family: 'Aldrich', sans-seri !important;  
    text-align: center;
    line-height: 50px;
    font-weight: bold;
}




@media (min-width:280px) and (max-width:480px){
    .GameText{
        margin-top: -350px;
        margin-left: 0px;
        
        width: 80%;
         text-align: center;
        
        font-size: 25px;
       
    }
    .bothdivbtnandtext{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    .gameBtn{
        margin-top: -200px;
        margin-left: 0px;
      
        width: 150px;
    
        font-size: 15px;
   
    }
    .gameBottomText p{
        width: 82%;
        color: #ffa05f;
        font-size: 20px;
        
        text-align: center;
        line-height: 50px;
        font-weight: bold;
    
    }
   


}


@media (min-width:480px) and (max-width:768px){
    .GameText{
        margin-top: -350px;
        margin-left: 0px;
        
        width: 80%;
         text-align: center;
        
        font-size: 40px;
       
    }
    .bothdivbtnandtext{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    .gameBtn{
        margin-top: -200px;
        margin-left: 0px;
      
        width: 150px;
    
        font-size: 15px;
   
    }
   


}

@media (min-width:768px) and (max-width:1024px){
    .GameText{
        margin-top: -350;
        margin-left: 0px;
        
        width: 80%;
         text-align: center;
        
        font-size: 40px;
       
    }
    .bothdivbtnandtext{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items:center;
    }
    .gameBtn{
        margin-top: -200px;
        margin-left: 0px;
      
        width: 150px;
    
        font-size: 15px;
   
    }
   


}


@media (min-width:1900px) and (max-width:3000px){

    .GameText{
        margin-top: -550px;
        margin-left: 25rem;
        
        width: auto;
         /* text-align: center; */
         font-weight: bold;
        
        font-size: 40px;
       
    }
    
    .gameBtn{
        margin-top: -130px;
        margin-left: 24rem;
      
        width: 170px;
        font-weight: bold;
        font-size: 20px;
   
    }
    .gamevideo{
        height: 70vh;
    }

    .gameBottomText{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 50px;
    }
    .gameBottomText p{
        width: 55%;
        color: #ffa05f;
        font-size: 40px;
        font-family: 'Aldrich', sans-seri !important;  
        text-align: center;
        line-height: 50px;
        font-weight: bold;
    
    }

    .gameContainer{

        height: 110vh;
        background-color: black;
    
    }

}